$primary: #444;
$pale: #d2e1dd;
$font-size: 18px;
$blue: blue;


@mixin thing($radius, $height, $width, $bg){
-webkit-border-radius: $radius;
-moz-border-radius: $radius;
-ms-border-radius: $radius;
border-radius: $radius;

height: $height;
width: $width;
background-color: $bg;
}


.wrapper {
  @include thing(100%, 200px, 200px, $blue);
}

body{
  background-color: $pale;
}
